#login {
  .hero-banner {
    height: 500px;
    // background-image: url("./hospital-image.jpeg");
    display: flex;
    // justify-content: center;
    align-items: flex-end;
  }

  label {
    color: purple !important;
  }
}
